<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Assistant Login Page</title>
    <style>
        *{
            margin:0;
            padding: 0;
            box-sizing: border-box;
            font-size: 22px;
        }
        body{
            height:100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h2{
            text-align: center;
            margin-bottom: 30px;
        }
        .form-container{
            width:375px;
            margin:0 auto;
            padding:30px;
            border:3px solid black;
            border-radius: 5px;
        }
        .form-group{
            margin-bottom: 15px;
        }
        .form-group input{
            display: block;
            font-weight: bold;
            margin-bottom: 15px;
            width:300px;
            padding:8px;
            font-size: 18px;
            border:1px solid black;
            border-radius: 3px;
        }
        .form-group .btn_class{
                display: block;
                width:100%;
                padding:10px;
                background-color:black;
                color:white;
                border:none;
                border-radius: 5px;
                cursor: pointer;
        }
        .form-group .btn_class:hover{
                background-color: seagreen;
        }
        a{
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h2>Login</h2>
        <form action="/login" method="post" class="form-group"><br>
            <input type="text" placeholder="Name" name="name" required><br>
            <input type="password" placeholder="password" name="password" required><br>
            <input type="submit" class="btn_class">
        </form><br>
        Don't have an account?
        <a href="/signup">Signup</a>
    </div>
</body>
</html>